* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 20px;
    /* Set a base font size for the root element */
}

body {
    font-size: 1rem;
    /* 1rem is equal to the root element's font size (16px in this case) */
    background-color: #d3d3d3;
}

/* NavBar.css */

.navbar {
    background-color: #d3d3d3;
    font-family: "montserrat";
    width: 100vw;
    height: 133px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navItems {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 1;
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.5rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    width: 25vw;
    height: auto;
    margin-left: 3rem;
}

.nav-link {
    text-decoration: none;
    color: #56575c;
    padding-right: 0.5rem;
    font-size: 1.25rem;
    transition: all 0.75s ease-in-out;
}

.nav-link:hover {
    cursor: pointer;
    border-bottom: solid 0.5px #56575C;
}

.dropdown {
    display: none
}

/* Home */

.homeContainer {
    margin: 0;
    background-color: #d3d3d3;
    height: auto;
    font-size: 0;
}

.homeImage {
    width: 100vw;
    margin: 0
        /* max-height:80vh */
}

.homeLogo {
    width: 50vw;
    position: absolute;
    right: 8vw
}

/* Bio/About */


.aboutPage {
    font-family: "montserrat";
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #d3d3d3;
    margin: 0;
    /* max-height: 80vh; */
    width: 100vw;
}

.aboutImage {
    /* max-height: 80vh; */
    max-width: 40vw;
    height: auto;
    /* overflow:hidden; */
    display: flex;
    justify-content: flex-start;
}

.bioImage {
    width: 40vw;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
}

.aboutContent {
    height: auto;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #56575C;
    background-color: #07080A;
}

.aboutContent>h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #d3d3d3;
    font-size: 5rem;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    /* display: none */
}

.aboutContent>p {
    width: 80%;
    max-height: 75%;
    overflow: auto;
    font-weight: 500;
    font-size: 1rem;
    color: #d3d3d3;
    text-align: center;
    line-height: 1.75;

}

/* GalleryImage */

.galleryImage {
    width: 100vw;
    height: auto;
    position: relative;
}

.galleryImage>img {
    width: 100%;
    position: relative;
    top: 0px
}

.galleryLink {
    text-decoration: none;
    color: #56575C
}

.galleryH1 {

    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 3;
    padding: 2rem;
    font-family: "montserrat";
    color: #56575C;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: rgba(240, 239, 238, 0.50);
    width: 30vw;

}

/* Booking */


.bookH1 {
    font-family: "montserrat";
    text-align: center;
    padding: 3rem;
    background-color: #d3d3d3;
    color: #56575C
}

.requiredParent {
    width: 100%;
}

.bookContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.booking {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    font-family: "montserrat";
    background-color: #d3d3d3;
    color: #56575C;
    width: 100vw;
}

.name-input {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    width: 40vw;
}

.input {
    width: 40vw;
    padding: 5px;
    margin-top: 10px;
    flex-shrink: 0;
    border-radius: 5.625rem;
    background: #e8e8e8;
    color: #56575C;
    font-family: "montserrat";
    border: none;
    /* position: relative;
    left: 50%;
    transform: translateX(-50%); */

}

.first-name-input,
.last-name-input {
    flex: 1;
    margin-top: 10px;
    /* margin-left: 10px; */
    /* width: 10vw; */
    border-radius: 5.625rem;
    background: #e8e8e8;
    color: #56575C;
    font-family: "montserrat";
    border: none;
    /* transform: translateX(+50%); */
    height: 28px;
    width: 40vw;
    padding: 5px;
    margin-top: 10px;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #e8e8e8;
    font-family: "montserrat";
    border: none;
    /* position: relative;
    left: 50%;
    transform: translateX(-50%); */
    background: #e8e8e8;
}



.input {
    width: 40vw;
    padding: 5px;
    margin-top: 10px;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #e8e8e8;
    font-family: "montserrat";
    border: none;
    /* position: relative;
    left: 50%;
    transform: translateX(-50%); */
    background: #e8e8e8;

}

.btn {
    padding: 0 2rem 0 2rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 5.625rem;
    background: #C74A32;
    color: #d3d3d3;
    font-family: "montserrat";
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    /* position: relative;
    left: 50%;
    transform: translateX(-50%); */
    display: block;
}



.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}

.details>h2 {
    margin: 1rem;

}

.bookingImage {
    width: 40vw
}

.validation-error {
    text-align: center;
    color: red;
    font-size: 1.75rem;
    margin: 1rem
}

.required-field {
    /* color: red; */
    /* margin-left: 160px; */
    text-align: left;
    font-size: 0.75rem;
    padding-left: 2rem

}


.input::placeholder {
    color: #000000;/
}

.first-name-input::placeholder {
    color: #000000;/
}

.last-name-input::placeholder {
    color: #000000;/
}

/* Target the day grid in the datepicker */
.react-datepicker__day {

    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.25rem;
    /* text-align: center; */
    margin: 0.2rem;
    border-radius: 0.3rem;
    font-size: 0.7rem;
    padding: 0rem;
    top: 50%;
    transform: translateY(-50%);
    /* padding-bottom: 1rem;
    padding-top: 1rem; */
    /* padding-left: 1rem; */
    /* box-sizing: border-box; */
}

/* Style for selected date */
.react-datepicker__day--selected {
    background-color: #d98373;
    color: #fff;
    /* text-align: center; */
}

/* Style for today's date */
.react-datepicker__day--today {
    border: 2px solid #C74A32;
    color: #C74A32;
}

/* Style for disabled dates */
.react-datepicker__day--disabled {
    opacity: 0.5;
}

/* Style for day names (e.g., Mon, Tue, Wed) */
.react-datepicker__day-name {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1rem;
    text-align: center;
    margin: 0.3rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
}

.react-datepicker {
    z-index: 1000;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the calendar container */
.react-datepicker__month-container {
    width: 15rem;
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
    border-radius: 5px;
    background-color: #fff;
}

.react-datepicker__navigation {
    border: 1px solid #ccc;
    font-family: "montserrat";
    margin: 1rem 1rem 0.5rem 1rem
}


.react-datepicker__navigation--next {
    position: relative;
    right: 0px;
}

.react-datepicker-popper {
    z-index: 10
}

.react-datepicker__aria-live {
    display: none
}


/* Reviews */



.reviews-container {
    font-family: "montserrat";
    color: #56575C;
    background-color: #e8e8e8;
    border-radius: 1rem;
    width: 90vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 3rem 5rem 3rem 5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.badgeContainer {
    display: flex;
    margin-top: 1rem;
}

.reviews-header {
    text-align: center;
    background-color: #e8e8e8;
}

.reviews-awards-container {
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviews-awards-container>img {
    background-color: #e8e8e8;
}

.reviews-awards-container>p {
    background-color: #e8e8e8;
    text-align: center;
    margin: 1rem
}

.reviews-recent-reviews-header {
    background-color: #e8e8e8;
    text-align: center;
    margin: 1rem;
}

.reviews-sub-header-container {
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviews-recent-reviews-sub-header {
    background-color: #e8e8e8;
    margin: 0.5rem
}

.reviews-recent-reviews>p {
    background-color: #e8e8e8;
    margin-bottom: 1rem;
}

.row-of-stars-component {
    background-color: #e8e8e8;
}

.reviewsBtn {
    padding: 0 2rem 0 2rem;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 5.625rem;
    background: #C74A32;
    color: #d3d3d3;
    font-family: "montserrat";
    margin-top: 10px;
    border: none;
}

/* MixPlayer */

.musicPlayer {
    background-color: #d3d3d3;
    font-family: 'montserrat';
    margin-bottom: 3rem;
    width: 90vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}

.musicPlayer>h1 {
    text-align: center;
    padding: 3rem;
    color: #56575C;
}

.carousel {
    width: 75vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.custom-prev {
    color: #56575C;
    font-size: 3rem;
    width: min-content
}

.custom-next {
    color: #56575C;
    font-size: 3rem;
    width: min-content
}


.mix-box>div {
    width: 20vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}

.mix-box>div>img {
    border-radius: 10px;
    width: 20vw;
    height: auto
}

.mix-box>div>img:hover {
    cursor: pointer
}

.iframe-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
    /* Optional: Add a smooth transition effect */

    &.hidden {
        opacity: 0;
    }

    iframe {
        width: 100%;
        height: 100%;
    }
}

.custom-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.custom-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-btn {
    width: 50%;
    height: 3rem;
    flex-shrink: 0;
    border-radius: 5.625rem;
    background: #C74A32;

    font-family: "montserrat";
    margin: 10px;
    border: none;
    margin: 0 auto;
    color: #d3d3d3
}

@media (max-width: 600px) {
    .modal-btn {
        width: 80px;
        height: 40px;
        font-size: 14px;
    }
}

.modal-h2 {
    text-align: center;
    font-family: montserrat;
    color: #56575C;
}

.modal-p {
    text-align: center;
    font-family: montserrat;
    color: #56575C;
    font-size: 16px;
}


.modal-div {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 16px;
}


/* footer */

.footer-container {
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 3vh;
    height: auto;
}

.footerLogo {
    width: 30vw;
    /* margin: -2rem 0 -2rem 0; */
    position: relative;
    /* transform: translateY(-2rem) */
}

.footerItems {
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 5vh; */
}

.footerItems>a {
    max-height: 6vw;
    font-size: 3vw;
    color: #56575C;
    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 3;
}


.footerItems>a>img {
    height: 5vh;
    color: #56575C
}


/* Gallery */

.galleryNavbar {
    background-color: #d3d3d3;
    font-family: "montserrat";
    width: 100vw;
    height: 10vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 100;
}

.galleryNav {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5vw;
}

.galleryNavItems>link {
    text-decoration: none;

}

.Gallery-Images {
    text-align: center;
}

.squarePhoto {
    display: inline-block;
    height: 24vw;
    width: 24vw;
    border: solid 1px #56575C;
    margin: 5px;
    object-fit: cover;
}

.carouselContainer {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -55%);
    max-width: 80vw;
}

.carouselPhoto {
    max-width: 75vw;
    max-height: 75vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-slide.slick-active.slick-current {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content
}

.slick-slide.slick-active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content
}

/* navbar font size */

@media only screen and (max-width: 1250px) {

    .nav-link {
        font-size: 1rem;
    }

    .aboutContent>h1 {
        font-size: 3.5rem;
    }

    .aboutContent>p {
        width: 80%;
        max-height: none;
        overflow: auto;
        margin-bottom: 3rem;
        text-align: center;
        font-size: 0.9rem;
    }

    .galleryH1 {
        font-size: 1.5rem;
    }

    .footerLogo {
        width: 50vw;
        /* margin: -2rem 0 -2rem 0; */
        position: relative;
        /* background-color: red; */
        /* transform: translateY(-2rem) */
    }

    .footerItems {
        width: 40vw
    }

    .footerItems>a {
        max-height: 6vw;
        font-size: 5vw;
        color: #56575C;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 3;
    }

    .footerItems>a>img {
        height: 6vh;
        color: #56575C
    }

    /* booking */

    .booking {
        flex-direction: column;
    }

    .input,
    .first-name-input,
    .last-name-input,
    .textarea,

    .btn {
        width: 45vw;
    }

    .first-name-input {
        width: auto;
        background: #e8e8e8;
    }

    .btn {
        margin-top: 0.1rem;
        margin-bottom: 2rem;
    }

    .input,
    .first-name-input,
    .last-name-input {
        width: 85vw;
        /* Adjust width for smaller screens */
        transform: translateX(0%);
        /* Reset transformation */
    }

    .name-input {
        flex-direction: column;
        width: 85vw;
    }

    .details {
        width: 85vw;
        text-align: center;
    }

    .details>h2 {
        margin: 2rem;
    }

    .bookingImage {
        width: 100vw
    }

    .validation-error {
        text-align: center;
        color: red;
        font-size: 1.8vh;
    }


}

@media only screen and (max-width: 1000px) {


    .nav-link {
        text-decoration: none;
        color: #56575c;
        padding-right: 0.5rem;
        font-size: 0.8rem;
    }

    .aboutImage {
        display: none
    }

    .footerItems>a {
        max-height: 6vw;
        font-size: 6vw;
        color: #56575C;
        display: flex;
        justify-content: space-around;
        align-items: center;

        z-index: 3;
    }

    .footerItems>a>img {
        height: 6vh;
        color: #56575C
    }

    /* Target the day grid in the datepicker */
    .react-datepicker__day {
        display: inline-block;
        width: 1.1rem;
        height: 1.1rem;
        line-height: 1rem;
        /* text-align: center; */
        margin: 0.1rem;
        border-radius: 0.3rem;
        font-size: 0.6rem;
        padding: 0rem;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }


    /* Style for day names (e.g., Mon, Tue, Wed) */
    .react-datepicker__day-name {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        line-height: 1rem;
        text-align: center;
        margin: 0.3rem 0.2rem 0.3rem 0.2rem;
        border-radius: 0.3rem;
        font-size: 0.7rem;

    }

    .react-datepicker {
        z-index: 1000;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Style for the calendar container */
    .react-datepicker__month-container {
        width: 10rem;
        text-align: center;
        margin-top: 5px;
        padding-top: 5px;
        border-radius: 5px;
        background-color: #fff;
        position: relative;
        left: 50%;
        transform: translateX(-50%)
    }

    .react-datepicker__navigation {
        border: 1px solid #ccc;
        font-family: "montserrat";
        margin: 1rem 0.1rem 0.5rem 0.1rem
    }


}

@media only screen and (max-width: 800px) {

    .nav-link {
        text-decoration: none;
        color: #56575c;
        padding-right: 0.5rem;
        font-size: 0.80rem;
    }

    .aboutContent>p {
        width: 80%;
        max-height: none;
        overflow: auto;
        margin-bottom: 3rem;
        text-align: center;
    }

    .requiredParent {
        width: 85vw
    }

}


/* Small screens */

@media only screen and (max-width: 600px) {

    body {
        font-size: 1rem;
        /* 1rem is equal to the root element's font size (16px in this case) */
        /* background-color: red; */
    }

    /* navbar */

    .dropdown {
        background-color: #d3d3d3;
        font-family: "montserrat";
        width: 100vw;
        height: 10vh;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        z-index: 100;
    }

    .menuToggle {
        color: #56575C;
        font-size: 1.25rem;
    }


    .drop-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90vw;
    }

    .dropItems {
        position: absolute;
        top: 10vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        flex-shrink: 1;
        background-color: #d3d3d3;
    }


    .logo {
        width: 40vw;
        height: auto;
        margin-left: 1rem;
    }

    .drop-link {
        text-decoration: none;
        width: 100vw;
        text-align: end;
        color: #56575c;
        background-color: #d3d3d3;
        padding-right: 0.5rem;
        font-size: 1.25rem;
        padding: 2vh 6vh 2vh 6vh;
        border-bottom: solid 0.5px #56575C;
    }


    .navbar {
        display: none
    }

    /* bio */

    .aboutPage {
        font-family: "montserrat";
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        background-color: #d3d3d3;
        margin: 0;
        /* max-height: 80vh; */
        width: 100vw;
    }

    .aboutImage {
        max-width: none;
        width: 100vw;
        height: auto;
        /* overflow:hidden; */
        /* display: flex;
        justify-content: flex-start; */
    }

    .bioImage {
        max-width: none;
        width: 100vw;
        height: auto;
        object-fit: cover;
    }

    .aboutContent {
        /* min-width:50vw; */
        height: auto;
        /* max-height: 80vh; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #56575C
    }

    .aboutContent>h1 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .aboutContent>p {
        width: 80%;
        max-height: none;
        overflow: auto;
        margin-bottom: 3rem;
        text-align: center;

    }

    /* form */

    .booking {
        flex-direction: column;
    }

    .input,
    .first-name-input,
    .last-name-input,
    .textarea,

    .btn {
        width: 85vw;

    }

    /* .first-name-input {
        width: auto;
        background: #e8e8e8;
    } */


    .input,
    .first-name-input,
    .last-name-input {
        width: 85vw;
        /* Adjust width for smaller screens */
        transform: translateX(0%);
        /* Reset transformation */
    }

    .details {
        width: 85vw;
        text-align: center;
    }

    .details>h2 {
        margin: 2rem;
    }

    .bookingImage {
        width: 100vw
    }

    .validation-error {
        text-align: center;
        color: red;
        font-size: 1.8vh;
    }




    /* reviews */

    .reviews-container {
        width: 95vw;
        padding: 0rem 0.5rem 2rem 0.5rem;
        margin-top: 2rem;
    }

    .reviews-header {
        margin: 2rem;
    }

    .reviews-awards-container {
        flex-direction: column-reverse;
        margin: none
    }

    .reviews-awards-container>p {
        font-size: 0.85rem;
        margin: 0.25rem;
    }

    .reviews-recent-reviews>p {
        background-color: #e8e8e8;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        font-size: 0.85rem;
        text-align: center;
    }

    .row-of-stars-component {
        margin-top: 0.5rem
    }

    /* carousel */

    .mix-box>div {
        width: 50vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%)
    }

    .mix-box>div>img {
        border-radius: 10px;
        width: 50vw;
        height: auto
    }







    /* gallery image */

    .galleryH1 {

        padding: 0.5rem;
        font-size: 1rem;
        width: 60vw;

    }

    /* footer */


    .footerLogo {
        width: 60vw;
        margin: 0 0 0 0;
    }


    .footerItems {
        width: 50vw;
        justify-content: center;
    }

    .footerItems>a {
        width: 8vw;
        font-size: 8vw;
        margin: 0vw 3vw 0vw 3vw;

    }

    .footerItems>a>img {
        height: 10vw;
    }


}

/* Colors */

/* light beige #d7d0cd
    charcoal #56575c
    red #e01c2a
light grey f0efee
burnt orange, #c74a32 */